<div style="border-bottom: 2px solid #eef7ff;
            margin-top: 15px;
            margin-bottom: 20px;">
</div>


<% if(templateFor == "customer" || templateFor == "affiliate") { %>
<p style="margin-top: 0;
                           margin-bottom: 15px;
                           color: #6c757d;
                           line-height: 1.6;
                           font-size: 14px;">If you have questions regarding this, or would just like to chat, contact us at any time. We'd love to hear from you.</p>
<% } %>

<div>
    <h3 style="margin-top: 0;
               margin-bottom: .5rem;
               font-weight: 500;
               line-height: 1.2;
               font-size: 18px;">Best Regards,</h3>
    <p class="text-secondary font-14" style="margin-top: 0;
              margin-bottom: 7px;
              color: #6c757d;
              font-size: 14px;">{{TeamName}} Team</p>
</div>
</div>
<div class="card-footer" style="padding: .75rem 1.25rem;
        text-align: center;
        border-top: 2px solid #eef7ff;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: #eef7ff;">
    <p style="margin-top: 0;
          margin-bottom: 0;
          orphans: 3;
          font-size: 14px;">{{AddressInline}}</p>
</div>
</div>


</div>



</body>

</html>